@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  text-align: center;
  background-color: cornflowerblue;
  width: 80%;
  margin: auto;
  color: white;
  border-radius: 8px;
  padding: 8px 8px;
  margin-top: 20%;
}

button,
.welcome-btn {
  background-color: #fff;
  color: cornflowerblue;
  padding: 4px 8px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.welcome-btn {
  color: #fff;
  background-color: cornflowerblue;
  font-size: 20px;
  margin-top: 20%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cornflowerblue;
  width: 100%;
  color: #fff;
  padding-left: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}
